<div class="row">
    <div class="col-mid-6 offset-3">
        <h1 class="text-info">
            you have reached the end of  the internet
        </h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Home" asp-action="Index">Home Page</a>
    </div>

</div>