@model NewEintragVM

@{
    ViewData["Title"] = "Eintrag bearbeiten";
}
<div class="" row text>
    <div class="col-md-8 offset-2">
        <p>
            <h4>Eintrag bearbeiten </h4>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6">
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PersonIds" class="control-label"></label>
                        <select multiple asp-for="PersonIds" class="form-control" asp-items="ViewBag.Personen"></select>
                        <span asp-validation-for="PersonIds" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EintragInhalt" class="control-label"></label>
                        <textarea asp-for="EintragInhalt" class="form-control"></textarea>
                        <span asp-validation-for="EintragInhalt" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreateDatetime" class="control-label"></label>
                        <input asp-for="CreateDatetime" type="date" class="form-control" />
                        <span asp-validation-for="CreateDatetime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value=" Änderungen Speichern" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Zurück</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>